@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
header {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 4px #0202025e;
          box-shadow: 0px 1px 4px #0202025e;
  padding: 15px 15px 5px 15px;
  position: relative;
  z-index: 10;
}

header i {
  position: absolute;
  font-size: 20px;
  top: 25px;
  left: 6%;
  color: rgba(0, 0, 0, 0.801);
}

header h1 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

footer {
  background-color: #353535;
  color: #fff;
  padding: 20px 15px;
}

@media (min-width: 1200px) {
  footer {
    text-align: center;
  }
}

footer h1 {
  font-size: 18px;
  margin-top: 0px;
  font-weight: lighter;
}

footer .footer__partner i {
  width: 13px;
}

footer i {
  margin-right: 15px;
}

footer p {
  margin: 8px 0px;
}

footer a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
}

.reservation__button {
  margin: 30px 0px 35px 0px;
  padding: 15px 20px;
  border-radius: 25px;
  color: #fff;
  font-size: 15.8px;
  text-decoration: none;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  cursor: pointer;
  margin-top: 100px;
}

.reservation__button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 1px 10px 10px #cfcfcf;
          box-shadow: 1px 10px 10px #cfcfcf;
  -webkit-transition: .5s;
  transition: .5s;
}

.reservation__button a {
  color: #fff;
  font-size: 15.8px;
  text-decoration: none;
}

.functioning__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 12px;
}

@media (min-width: 1200px) {
  .functioning__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.functioning .buttoncard {
  width: 100%;
  height: 20px;
  padding: 28px 0px;
  margin: 8px 0px 15px 0px;
  background-color: #f6f6f6;
  border-radius: 20px;
  border: none;
  -webkit-box-shadow: 3px 10px 10px #d6d6d669;
          box-shadow: 3px 10px 10px #d6d6d669;
  font-size: 16px;
  position: relative;
}

@media (min-width: 1200px) {
  .functioning .buttoncard {
    width: 300px;
    margin-right: 20px;
  }
}

.functioning .buttoncard span {
  padding: 4px 8px;
  font-size: 14px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  left: -12px;
  top: 50%;
  -webkit-transform: translate(0px, -12px);
          transform: translate(0px, -12px);
}

.functioning .functioning__button__choice i {
  font-size: 20px;
  color: #7e7e7e;
  position: absolute;
  left: 10%;
}

.functioning .functioning__button__choice p {
  margin: 0px;
  position: absolute;
  left: 20%;
  color: black;
}

.functioning .functioning__button__compose i {
  font-size: 18px;
  color: #7e7e7e;
  position: absolute;
  left: 10%;
}

.functioning .functioning__button__compose p {
  margin: 0px;
  position: absolute;
  left: 20%;
  color: black;
}

.functioning .functioning__button__taste i {
  color: #7e7e7e;
  font-size: 15px;
  position: absolute;
  left: 10%;
}

.functioning .functioning__button__taste p {
  margin: 0px;
  position: absolute;
  left: 20%;
  color: black;
}

main .menu button {
  margin: 30px 0px 35px 0px;
  padding: 15px 20px;
  border-radius: 25px;
  color: #fff;
  font-size: 15.8px;
  text-decoration: none;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  cursor: pointer;
  padding: 15px 45px;
  margin-bottom: 50px;
  margin-left: 50%;
  -webkit-transform: translateX(-90px);
          transform: translateX(-90px);
}

main .menu button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 1px 10px 10px #cfcfcf;
          box-shadow: 1px 10px 10px #cfcfcf;
  -webkit-transition: .5s;
  transition: .5s;
}

main .menu button a {
  color: #fff;
  font-size: 15.8px;
  text-decoration: none;
}

.wait {
  width: 1%;
  height: 100%;
  position: absolute;
  background-color: white;
  opacity: 0;
  -webkit-animation: opacite 1.5s linear;
          animation: opacite 1.5s linear;
}

@-webkit-keyframes opacite {
  0% {
    opacity: 1;
    width: 100%;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes opacite {
  0% {
    opacity: 1;
    width: 100%;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

.wait .spinner {
  width: 80px;
  height: 80px;
  border-top: 15px solid #9356DC;
  border-right: 15px solid #FF79DA;
  border-bottom: 15px solid #99e2d0;
  border-left: 15px solid #313131;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation: spin 1.5s linear;
          animation: spin 1.5s linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.1;
  }
  50% {
    -webkit-transform: rotate(190deg);
            transform: rotate(190deg);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

main {
  max-width: 1200px;
  margin: auto;
}

.adress {
  background-color: #eaeaea;
  text-align: center;
  color: #313131;
}

.adress i {
  padding-right: 15px;
  font-size: 16px;
}

.adress h2 {
  padding: 15px 0px;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.reservation {
  background-color: #f6f6f6;
  padding: 20px 15px 70px 15px;
  text-align: center;
}

.reservation h2 {
  margin: 20px 0px 12px 0px;
  font-weight: 500;
}

.reservation p {
  margin: 0px 0px 50px 0px;
  font-size: 18px;
  font-weight: 100;
}

.functioning {
  padding: 25px 20px 50px 20px;
}

.restaurant {
  padding: 40px 20px 20px 20px;
  background-color: #f6f6f6;
}

@media (min-width: 600px) {
  .restaurant .restaurant__allcards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
}

.restaurant .restaurant__allcards a {
  text-decoration: none;
}

.restaurant__cards {
  border: 2px solid #020202;
  height: 260px;
  margin-bottom: 20px;
  border: none;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 3px 10px 10px #d6d6d669;
          box-shadow: 3px 10px 10px #d6d6d669;
}

.restaurant__cards:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .5s;
  transition: .5s;
}

.restaurant__cards__picture {
  position: relative;
  margin: 0px;
  width: auto;
  height: 180px;
}

.restaurant__cards__picture img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.restaurant__cards__picture .new {
  background-color: #99e2d0;
  color: #3b8673;
  padding: 6px 10px;
  font-size: 14px;
  width: 18%;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  right: 4%;
  top: 8%;
  z-index: 10;
}

.restaurant__cards__picture .new p {
  margin: 0px;
}

.restaurant__cards__description {
  position: relative;
}

.restaurant__cards__description h3 {
  font-weight: bold;
  margin: 18px 0px 3px 15px;
  color: black;
}

.restaurant__cards__description p {
  margin: 0px 0px 0px 15px;
  font-weight: 300;
  color: black;
}

.restaurant__cards__description i {
  font-size: 22px;
  position: absolute;
  right: 7%;
  top: 10%;
  color: black;
  background-color: white;
  z-index: 100;
  cursor: pointer;
}

.restaurant__cards__description i:hover {
  -webkit-animation: hidden 1s ease forwards;
          animation: hidden 1s ease forwards;
}

@-webkit-keyframes hidden {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    color: white;
  }
  100% {
    -webkit-transform: translate(0px, -22px);
            transform: translate(0px, -22px);
    color: white;
  }
}

@keyframes hidden {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    color: white;
  }
  100% {
    -webkit-transform: translate(0px, -22px);
            transform: translate(0px, -22px);
    color: white;
  }
}

.restaurant__cards__description span {
  font-size: 22px;
  position: absolute;
  right: 7%;
  top: 10%;
  color: transparent;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  cursor: pointer;
}

main .img__heading {
  height: 280px;
  width: 100%;
  margin-top: -220px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -10;
  position: absolute;
}

@media (min-width: 1200px) {
  main .img__heading {
    width: 1200px;
  }
}

main .menu {
  background-color: #f6f6f6;
  margin-top: 220px;
  padding: 15px 15px;
  top: 140px;
  z-index: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

main .menu h2 {
  font-family: 'Shrikhand';
  font-size: 27px;
  font-weight: lighter;
}

main .menu i {
  position: absolute;
  right: 10%;
  margin-top: 4px;
  font-size: 30px;
  color: black;
  background-color: #f6f6f6;
  z-index: 100;
  cursor: pointer;
}

main .menu i:hover {
  -webkit-animation: hidden-heart 1s ease forwards;
          animation: hidden-heart 1s ease forwards;
}

@-webkit-keyframes hidden-heart {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    color: #f6f6f6;
  }
  100% {
    -webkit-transform: translate(0px, -30px);
            transform: translate(0px, -30px);
    color: #f6f6f6;
  }
}

@keyframes hidden-heart {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    color: #f6f6f6;
  }
  100% {
    -webkit-transform: translate(0px, -30px);
            transform: translate(0px, -30px);
    color: #f6f6f6;
  }
}

main .menu .fas {
  position: absolute;
  right: 10%;
  margin-top: 4px;
  font-size: 30px;
  color: transparent;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  cursor: pointer;
}

main .menu h3 {
  margin-top: 30px;
  margin-bottom: 3px;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 16px;
}

main .menu .soulignement {
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  padding-top: 1px;
}

main .menu .menu__entrees {
  -webkit-animation: apparition 2s;
          animation: apparition 2s;
}

@-webkit-keyframes apparition {
  0% {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

main .menu .menu__plats {
  -webkit-animation: apparition 2s .5s;
          animation: apparition 2s .5s;
}

@keyframes apparition {
  0% {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

main .menu .menu__desserts {
  -webkit-animation: apparition 2s 1s;
          animation: apparition 2s 1s;
}

@keyframes apparition {
  0% {
    -webkit-transform: translate(0px, 30px);
            transform: translate(0px, 30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

main .menu .menu__entree, main .menu .menu__plat, main .menu .menu__dessert {
  background-color: white;
  border-radius: 18px;
  -webkit-box-shadow: 3px 10px 10px #d6d6d669;
          box-shadow: 3px 10px 10px #d6d6d669;
  position: relative;
  padding: 12px 0px 12px 10px;
  margin: 15px 0px;
  overflow: hidden;
}

main .menu .menu__entree .description, main .menu .menu__plat .description, main .menu .menu__dessert .description {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .menu .menu__entree .description h4, main .menu .menu__plat .description h4, main .menu .menu__dessert .description h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 5px;
  padding-right: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .menu .menu__entree .description p, main .menu .menu__plat .description p, main .menu .menu__dessert .description p {
  font-size: 15px;
  font-weight: lighter;
  margin: 0px;
  padding-right: 90px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .menu .menu__entree .description span, main .menu .menu__plat .description span, main .menu .menu__dessert .description span {
  margin-right: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 500;
  margin-top: -20px;
}

main .menu .menu__entree .check, main .menu .menu__plat .check, main .menu .menu__dessert .check {
  background-color: #99e2d0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  height: 100%;
  width: 20%;
  right: -20%;
  top: 0%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .menu .menu__entree .check .fa-check-circle, main .menu .menu__plat .check .fa-check-circle, main .menu .menu__dessert .check .fa-check-circle {
  position: absolute;
  color: white;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .menu .menu__entree:hover .description, main .menu .menu__plat:hover .description, main .menu .menu__dessert:hover .description {
  width: 80%;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-overflow: ellipsis;
}

main .menu .menu__entree:hover .check, main .menu .menu__plat:hover .check, main .menu .menu__dessert:hover .check {
  right: 0%;
  cursor: pointer;
}

main .menu .menu__entree:hover .check .fa-check-circle, main .menu .menu__plat:hover .check .fa-check-circle, main .menu .menu__dessert:hover .check .fa-check-circle {
  -webkit-transition: .5s .08s;
  transition: .5s .08s;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  right: 35%;
}
/*# sourceMappingURL=main.css.map */