footer {
  background-color: rgb(53, 53, 53);
  color: #fff;
  padding: 20px 15px;
  @include desktop__footer;
  
  h1 {
    font-size: 18px;
    margin-top: 0px;
    font-weight: lighter;
  }

  .footer__partner {
    i{
      width: 13px;
    }
  }

  i{
    margin-right: 15px;
  }

  p{
    margin: 8px 0px;
  }

  a{
    color: white;
    text-decoration: none;
  }

}