.wait {
  width: 1%;
  height: 100%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  z-index: 5000;
  

  // Animation background //
  animation: opacite 1.5s linear;

  @keyframes opacite {
    0% {
      opacity: 1;
      width: 100%;
    }
    50% {
      opacity: 0.9;
      
    }
    100% {
      opacity: 0;
      width: 100%;
    }
  }

  .spinner {
    width: 80px;
    height: 80px;
    border-top: 15px solid #9356DC;
    border-right: 15px solid #FF79DA;
    border-bottom: 15px solid #99e2d0;
    border-left: 15px solid rgb(49, 49, 49);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 
    margin: auto;
    border-radius: 50%;
    opacity: 0;

    // Animation spinner //
    animation: spin 1.5s linear;

    @keyframes spin {
      0% {
        transform: rotate(0deg);
        opacity: 0.1;
      }
      50% {
        transform: rotate(190deg);
        opacity: 0.5;
      }
      100% {
        transform: rotate(360deg);
        opacity: 1;
      }
    }
  }
}